*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FFFFFF;
    overflow-x: hidden;
}
.top-buttons .btn {
    background-color: #c0392b;
    color: #fff;
    border-radius: 5px;
    margin: 0 5px;
}
.icon-section i {
    font-size: 24px;
    color: #333;
}
.navigation{
    background-color: #AF1713;
}
.nav-link {
    color:rgb(1,1,1);
    font-weight: bold;
    font-size: 17px;
    transition: color 0.3s, transform 0.3s;
}
.nav-link.home {
    color: #ffc107;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.nav-link:hover {
    color: #ffc107;
    transform: scale(1.1);
}
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #D93025;
    padding: 10px 0;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.marquee span {
    margin-right: 20vw;
}
.discount-card {
    border: 2px solid #d93025;
    border-radius: 5px;
    text-align: center;
    color: #d93025;
    font-weight: bold;
    width: 300px;
}
.discount-header {
    background-color: #d93025;
    color: white;
    padding: 10px;
}
.discount-header span {
    font-size: 20px;
}
.code-title {
    color: #fbbd05;
    font-size: 18px;
    margin: 10px 0;
}
.copy-btn {
    background-color: #fbbd05;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
.product-wrapper{
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    height: 50vh;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
}
.product-thumbnail{
    width: 100%;
    height: 80%;

}
.product-wrapper:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.img{
    position: relative;
}
.img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-top: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.product-info{
    width: 100%;
    height: 20%;
}
.product-thumbnail:hover > .row > .quickacess {
    display: block;


}
.quickacess{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display:none;
    margin: 0;
    padding: 0;

}


.viewall, .quickview{
    background-color: #ccc;
    color: #D93025;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.quickview:hover , .viewall:hover{
    background-color: #ff0000;
    color: #ffffff;

}


.white {
    background-color: white;
    border: 1px solid #ccc;
}

.black {
    background-color: black;
}
.cartbtn{
    color: #d93025;
    padding: 10px;
}
.cartbtn:hover {
    background-color: #ccc;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.policy-item {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.policy-item i {
    font-size: 48px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.policy-item h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.policy-item p {
    font-size: 14px;
}


.policy-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.policy-item:hover i {
    transform: scale(1.2);
}


.policy-item i, .policy-item h4, .policy-item p {
    display: block;
    margin: 0 auto;
}
.service{
    height: 20vh;
    width: 100%;
}

.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    color: #333;

}
.footer h6 {
    color: #c0392b;
    font-weight: bold;
}
.footer a {
    color: #333;
    text-decoration: none;
}
.footer a:hover {
    color: #c0392b;
    text-decoration: underline;
}
.social-icons i {
    font-size: 20px;
    margin-right: 10px;
    color: #c0392b;
}
.social-icons i:hover {
    color: #555;
}
.newsletter input[type="email"] {
    border: 1px solid #ddd;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
}
.newsletter button {
    background-color: #c0392b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}
.newsletter button i {
    margin-right: 5px;
}
.bottom-text {
    text-align: center;
    color: #777;
    margin-top: 20px;
}
.container-footer{
    margin: 0 80px;
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    outline: none;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    color: white;
    background: #162938;
}
.navigation .btnRegister-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    outline: none;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnRegister-popup:hover{
    color: white;
    background: #162938;
}
.navigation .btnLogout{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    outline: none;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogout:hover{
    color: white;
    background: #162938;
}
.wrapper{
    display: none;
    position: fixed;
}
.wrapper::before{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    content: '';
    left: 0;
    top: 0;
    z-index: -1;
}
.wrapper.active-popup{
    display: flex;
}

.wrapper-dialog{
    position: fixed;
    transform: translate(-50%, 0);
    top: 10%;
    left: 50%;
    width: 400px;
    height: 440px;
    border: 2px solid rgba(255,255,255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, 0.5) ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    z-index: 10;
}
.wrapper-dialog .btn:hover{
    background: #162938;
    color: #b3b2b2;
}

.wrapper-active{
    height : 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
    background-color: #fff;
    
}
.wrapper .form-box.login{
    position: absolute;
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: none;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    background: #162938;
    display: flex;
    justify-content: center;
    align-items: center ;
   /* overflow: hidden; */
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #162938 ;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    color: #162938;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    color: #162938;
    font-size: 1em;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: 0.9rem;
    color: #162938;
    font-weight: 500;
    justify-content: space-between;
    display: flex;
    margin: -15px 0 15px;
}
.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.login-register{
    font-size: 0.9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #162938;
    text-decoration: underline;
    font-weight: 600;
}

.login-link {
    text-decoration: underline;
    color: #162938
}
.form-box.forgot-password {
    display: none;
    height: 440px;
}
.authen{
    display: none;
}